.video__metadata__container {
  padding: 15px 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 50px;
  grid-template-rows: 26px 26px 50px;
  grid-template-areas:
    "title info"
    "view  info"
    "slider	slider";
  font-size: 20px;
}
.video__title,
.video__views {
  padding: 0 15px;
}
.video__title {
  grid-area: title;
  white-space: normal;
  word-break: break-all;
}
.video__views {
  grid-area: view;
  font-size: 15px;
  color: white;
  opacity: 0.6;
  margin-top: 3px;
}
.more__info__btn {
  grid-area: info;
  margin: 0 auto;
}
.more__info__btn i {
}
.slider__func__btn {
  grid-area: slider;
  margin: auto 0;
  overflow: scroll;
  white-space: nowrap;
}
.slider__func__btn i {
  margin-left: 50px;
}
