.video__metadata__container {
  padding: 15px 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 45px;
  grid-template-rows: 26px 26px 50px;
  grid-template-areas:
    "title info"
    "view  info"
    "slider	slider";
  font-size: 20px;
}
.video__title,
.video__views {
  padding: 0 15px;
}
.video__title {
  grid-area: title;
  white-space: normal;
  word-break: break-all;
  font-weight: bold;
}
.video__views {
  grid-area: view;
  font-size: 13px;
  color: white;
  opacity: 0.6;
  margin-top: 5px;
}
.more__info__btn {
  grid-area: info;
  text-align: start;
  color: white;
  opacity: 0.6;
}
.slider__func__btn {
  grid-area: slider;
  margin: auto 0;
  overflow: scroll;
  white-space: nowrap;
  scrollbar-width: none; /* Firefox */
}
/* Chrome,safari,opera */
.slider__func__btn::-webkit-scrollbar {
  display: none;
}
.slider__func__btn i {
  margin-left: 40px;
  margin-right: 40px;
  color: white;
}
